body {
  margin: 0;
  padding-left: 7.5%;
  padding-right: 7.5%;
  font-family: 'Source Sans Pro';
  background-color: rgb(238, 238, 238);
}

header {
  padding: 10px 100px;
  background-color: rgb(31, 36, 50);
}

.right-side-nav {
  float: right;
  margin-top: 5px;
}

.feature-and-security {
  margin-right: 20px;
  display: inline;
  font-size: 90%;
  text-decoration: none;
  color: rgb(187, 189, 193);
}

.green-sign-in-button {
  padding: 7px 14px;
  display: inline;
  font-family: 'Titillium Web';
  font-size: 90%;
  background-color: rgb(0, 214, 127);
  border-radius: 4px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.sway-logo-resize {
  width: 91px;
  height: 30px;
}

.column1of2,
.column2of2 {
  float: left;
  width: 50%;
  height: 500px;
  background-color: rgb(31, 37, 50);
}

h1.company-header {
  margin-top: 120px;
  margin-left: 100px;
  font-family: 'Titillium Web';
  font-size: 40px;
  font-weight: 100;
  line-height: 45px;
  color: rgb(255, 255, 255);
}

p.company-pitch {
  margin-left: 100px;
  font-size: 19px;
  font-weight: 300;
  color: rgb(210, 211, 214);
}

.email-area {
  margin-left: 100px;
  margin-right: 5px;
  border-radius: 4px 0 0 4px;
  font-size: 13px;
  padding: 3px 10px;
}

.green-email-sign-up-button {
  border-radius: 0 4px 4px 0;
  text-decoration: none;
  font-family: 'Titillium Web';
  padding: 3px 40px;
  font-size: 13px;
  background-color: rgb(63, 202, 127);
  color: rgb(255, 255, 255);
}

.video-resize {
  margin-top: 100px;
  width: 412.5px;
  height: 275.25px;
}

.play-button-resize {
  position: relative;
  bottom: 175px;
  left: 165px;
  width: 80px;
  height: 80px;
}

div.product-features {
  text-align: center;
  background-color: rgb(238, 249, 253);
}

.column1of3,
.column2of3,
.column3of3 {
  display: inline-block;
  overflow: hidden;
  width: 325px;
  height: 250px;
  margin: 75px 10px;
  padding: 20px;
  text-align: left;
  background-color: rgb(255, 255, 255);
}

.small-icon-background {
  width: 50px;
  height: 50px;
  background-color: rgb(49, 115, 207);
  border-radius: 4px;
}

.small-icon-resize-1-2 {
  margin: 15px;
  width: 20px;
  height: 20px;
}

.small-icon-resize-3 {
  margin-left: 7.5px;
  margin-top: 12px;
  width: 35px;
  height: 26px;
}

.product-features-header {
  font-size: 22px;
  color: rgb(31, 36, 51);
}

.product-features-description {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(109, 114, 131);
}

.slack-col-1-of-2,
.slack-col-2-of-2 {
  float: left;
  width: 50%;
  height: 500px;
  background-color: rgb(248, 249, 253);
  overflow: hidden;
}

#slack-demo-header {
  font-size: 25px;
  color: rgb(31, 36, 51);
}

#slack-demo-paragraph {
  font-size: 20px;
  color: rgb(105, 112, 130);
}

#slack-demo-button {
  text-decoration: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  background-color: rgb(0, 214, 127);
  border-radius: 4px;
}

#slack-demo-picture {
  margin-top: 11%;
  width: 542px;
  height: 386px;
}
