body {
  margin: 0;
  font-family: 'Source Sans Pro';
  background-color: rgb(238, 238, 238);
}

header {
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding: 10px 100px;
  background-color: rgb(31, 36, 50);
}

.right-side-nav {
  float: right;
  margin-top: 5px;
}

.feature-and-security {
  margin-right: 20px;
  display: inline;
  font-size: 90%;
  text-decoration: none;
  color: rgb(187, 189, 193);
}

.green-sign-in-button {
  padding: 7px 14px;
  display: inline;
  font-family: 'Titillium Web';
  font-size: 90%;
  background-color: rgb(0, 214, 127);
  border-radius: 4px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.sway-logo-resize {
  width: 91px;
  height: 30px;
}

div.watch-and-subscribe {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.column1of2,
.column2of2 {
  float: left;
  width: 50%;
  height: 500px;
  background-color: rgb(31, 37, 50);
}

div section h1 {
  margin-top: 100px;
  margin-left: 100px;
  font-family: 'Titillium Web';
  font-size: 40px;
  font-weight: 100;
  line-height: 45px;
  color: rgb(255, 255, 255);
}

div section p {
  margin-left: 100px;
  font-size: 19px;
  font-weight: 300;
  color: rgb(210, 211, 214);
}

.email-area {
  margin-left: 100px;
  font-size: 19px;
}

.green-email-sign-up-button {
  text-decoration: none;
  font-family: 'Titillium Web';
  background-color: rgb(63, 304, 127);
  color: rgb(255, 255, 255);
}

.video-resize {
  margin-top: 100px;
  width: 412.5px;
  height: 275.25px;
}

.play-button-resize {
  position: relative;
  right: 250px;
  bottom: 90px;
  width: 80px;
  height: 80px;
}
